@include fonts('Museo Sans Cyrl','MuseoSansCyrl-100',100,'normal');
@include fonts('Museo Sans Cyrl','MuseoSansCyrl-300',300,'normal');
@include fonts('Museo Sans Cyrl','MuseoSansCyrl-500',500,'normal');
@include fonts('Museo Sans Cyrl','MuseoSansCyrl-700',700,'normal');
@include fonts('Museo Sans Cyrl','MuseoSansCyrl-900',900,'normal');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.woff?wm3028') format('woff'),
  url('../fonts/icomoon.svg?wm3028#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icomoon-envelope: "\e900";
$icomoon-like: "\e901";
$icomoon-phone: "\e902";
$icomoon-placeholder: "\e903";
$icomoon-settings: "\e904";
$icomoon-shopping: "\e905";

[class^="icomoon-"], [class*=" icomoon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-envelope {
  &:before {
    content: $icomoon-envelope;
  }
}
.icomoon-like {
  &:before {
    content: $icomoon-like;
  }
}
.icomoon-phone {
  &:before {
    content: $icomoon-phone;
  }
}
.icomoon-placeholder {
  &:before {
    content: $icomoon-placeholder;
  }
}
.icomoon-settings {
  &:before {
    content: $icomoon-settings;
  }
}
.icomoon-shopping {
  &:before {
    content: $icomoon-shopping;
  }
}