.clearfix:after {content: ""; display: block; clear: both;}
.tableBox {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  & > div {
    display: table;
    width: 100%;
    height: 100%;
    & > div {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
    }
  }
}
.content {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
  padding: 0 $padding;
  @include media(hover,1441){
    max-width: 1350px;
  }
  @include breakpoints(961,1440){
    max-width: 960px;
  }
  @include media(screen,960){
    max-width: 740px;
  }
}
.row {
  margin: 0 -1*$padding;
  display: flex;
  &.align-center {
    justify-content: center;
  }
}
.col {
  width: 100%;
  padding: 0 $padding;
  &-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  &-lg-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  &-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  &-lg-8 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }
  &-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.flex {
  display: flex;
}

.hide {
  display: none !important;
}
.invalid {
  color: rgba(255,128,124,.5);
  input, textarea {background-color: rgba(255,128,125,1)}
  display: flex;
}


.desktop-hidden {
  @include media(hover,1201){
    display: none !important;
  }
}
.tablet-hidden {
  @include media(screen,1200){
    display: none !important;
  }
}
.mobile-hidden {
  @include media(screen,767){
    display: none !important;
  }
}